/* Header.css */

@media (max-width: 767px) {
  .header-mobile {
    display: block;
  }

  .header-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
  }
}
